/*Reset de css */

* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    font-family: 'Roboto', sans-serif;



}

/* Header */

header {
    display: flex;
}


.icono img {
    width: 60px;
    height: 60px;
}

header div {
    width: 50%;
}

header nav {
    width: 50%;
    display: flex;
    justify-content: end;


}

.navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.navegacion{
list-style: none;
}

header nav a {
    text-decoration: none;
}

footer,
header {
    background-color: #0076b3;
}




/*Para inicio*/

h1 {
    text-align: center;
    margin: 20px;
    width: 100%;
}


.botinesMessi {
    display: flex;
}

.botinesMessi img {
    display: flex;
    width: 100%;
    height: 100%;
}


.novedades {
    display: flex;
    flex-direction: column;
}


.novedades a:hover {
    opacity: 0.5;
}

.novedades article {
    display: flex;
    justify-content: space-around;

}


.novedades article img {
    height: 300px;
    width: 300px;
}


.publiSeleccion {
    display: flex;
}

.publiSeleccion img {
    width: 100%;
    margin-bottom: 75px;
}

.marcas {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.marcas img {
    width: 100px;
    height: 100px;
}

.sobreNos {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.sobreNos h3,
p {
    text-align: center;

}

.sobreNos .redes a {
    display: flex;
    padding-left: 15px;
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

.sobreNos h3,
p {
    text-align: center;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreNos .mapa img {
    width: 400px;
    padding: 10px;
}

/*Para indumentaria, Botines y Sale*/

.galeriaIndumentaria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.galeriaIndumentaria .remera {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.galeriaIndumentaria img {
    width: 200px;
    height: 200px;
}


.galeriaIndumentaria h3,
p {
    text-align: center;
}

.galeriaIndumentaria input {
    align-items: center;
}

.galeriaIndumentaria img:hover {
    opacity: 0.5;
}

.remera {
    display: flex;
    align-items: center;
}


/*Para Asistencia*/

.cambio {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.cambio h4 {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cambio h5 {
    font-size: medium;
    margin-left: 5px;
}

.cambio p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: smaller;
}

.contactate h4 {
    font-size: larger;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contactate h5 {
    font-size: medium;
    margin-left: 5px;
}

.contactate p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: smaller;
}

.consulta {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 30px;
}

.datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;

}

.datos label {
    height: 30%;
    font-size: small;
    margin-left: 5px;
}

.datos input {
    width: max-content;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.caja label {
    font-size: small;
}

.redesSociales .redes {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.redesSociales .redes a {
    display: flex;
    padding-left: 15px;
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

.redesSociales p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: smaller;
}

.redesSociales .redes {
    justify-content: left;
}

/*Para botin*/
.compra {
    display: flex;

}

.compra .producto {
    width: 50%;

}

.producto img {
    width: 100%;
    height: 100%;
}

.infoProducto {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.infoProducto h3 {
    text-align: left;
    padding-top: 20%;
    padding-bottom: 10px;
}


.infoProducto b {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infoProducto p {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.infoProducto img {
    width: 50px;
}

.talles {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.talles input {
    border-radius: 10px;
    padding: 3px;
}

.talles input:focus {
    color: red;
}

.anadirCarro {
    display: flex;
    width: 25%;
    justify-content: center;
}

.anadirCarro input {
    margin: 5px;
}

/*Para footer*/

footer {
    display: flex;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    flex-direction: column;
    height: 100%;
}

.volverInicio {
    display: flex;
    padding: 15px;
    justify-content: center;

}

.volverInicio a {
    text-decoration: none;
}

.redes {
    display: flex;
    padding: 15px;
    justify-content: center;
}

footer .redes a {
    display: flex;
    padding-left: 15px;
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

footer p {
    padding: 10px;
}