@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-spacearound {
    display: flex;
    justify-content: space-around;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin wyh ($width, $height) {
    width: $width;
    height: $height;
}

@mixin paddingtyb ($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin paddinglyr ($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin marginlyr ($left, $right) {
    margin-left: $left;
    margin-right: $right;
}

@mixin margintyb ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin h4asistencia {
    .cambio p {
        font-size: larger;
        text-align: center;
        @include margintyb ($veinte, $treinta);
    }
}

@mixin h5asistencia {
    font-size: medium;
    margin-left: $cinco;
}

@mixin pasistencia {
    text-align: left;
    @include margintyb ($diez, $diez);
    margin-left: $cinco;
    font-size: smaller;
}

@mixin h3producto {
    text-align: left;
    @include margintyb ($tres, $tres);
}

@mixin bordetalles {
    border-radius: $diez;
    border-color: $negro;
}

@mixin novedadesproducto {
    @include flex-column;
    justify-content: center;
    text-align: center;
}

@mixin bg-inicio{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
a{
        text-decoration: none;
        font-size: 30px;
        color: white;
}
}

@mixin bg-inicio-mobile{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
a{
        text-decoration: none;
        font-size: 10px;
        color: white;
}
}