//tamano
$tres: 3px;
$cinco: 5px;
$diez: 10px;
$veinte: 20px;
$treinta: 30px;
$cuarenta: 40px;
$cincuenta: 50px;
$cien: 100px;
$diezporcien: 10%;
$cincuentaporcien: 50%;
$cienporcien: 100%;

//pantallas
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

//colores
$rojo: red;
$azul: blue;
$negro: black;
$celeste: #378dfc;