/*INICIO*/
/*publicidades*/


@media screen and (min-width: $mobile) {
    .carousel-inner img {
        height: 200px;
        width: $cienporcien;
        padding-top: ($cincuenta+$veinte);
    }
}

@media screen and (min-width: $tablet) {
    .carousel-inner img {
        height: ($cien*3);
        width: $cienporcien;
    }
}

/*novedades*/

@media screen and (min-width: $mobile) {
    .novedades {
        @include flex-column;
        justify-content: center;
        text-align: center;
        margin-bottom: $cincuenta;

        h5 {
            @include margintyb($cuarenta, $veinte);
            font-size: small;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }

        a:hover {
            opacity: 0.5;
        }

        article {
            @include flex-spacearound;
            height: ($treinta+$cincuenta);

            img {
                @include wyh($cienporcien, $cienporcien);
            }
        }
    }
}

@media screen and (min-width: $tablet) {
    .novedades {
        @include flex-column;
        justify-content: center;
        text-align: center;
        margin-bottom: $cincuenta;

        h5 {
            @include margintyb($cuarenta, $veinte);
            font-size: medium;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }

        a:hover {
            opacity: 0.5;
        }

        article {
            @include flex-spacearound;
            height: ($cien+$cincuenta);

            img {
                @include wyh($cienporcien, $cienporcien);
            }
        }
    }
}

/*secciones*/
@media screen and (min-width: $mobile) {
    .secciones {
        @include flex-wrap;
        @include wyh($cienporcien, $cien);
        background-color: $negro;

        .camisetas {
            background-image: url("../assets/logos-y-publicidades/camiseta-publi.png");
            @include bg-inicio-mobile;
            width: $cincuentaporcien;
        }

        .camisetas:hover {
            opacity: 0.7;

            a {
                font-size: 12px;
            }
        }

        .botines {
            background-image: url("../assets/logos-y-publicidades/botines-publi.png");
            @include bg-inicio-mobile;
            width: $cincuentaporcien;
        }

        .botines:hover {
            opacity: 0.7;

            a {
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width: $tablet) {
    .secciones {
        @include flex-wrap;
        @include wyh($cienporcien, 250px);
        background-color: $negro;

        .camisetas {
            background-image: url(../assets/logos-y-publicidades/camiseta-publi.png);
            @include bg-inicio;
            width: $cincuentaporcien;
        }

        .camisetas:hover {
            opacity: 0.7;

            a {
                font-size: 34px;
            }
        }

        .botines {
            background-image: url(../assets/logos-y-publicidades/botines-publi.png);
            @include bg-inicio;
            width: $cincuentaporcien;
        }

        .botines:hover {
            opacity: 0.7;

            a {
                font-size: 34px;
            }
        }
    }
}


/*marcas*/
.marcas {
    @include flex-spacearound;
    @include paddingtyb($cuarenta, $cuarenta);
}

@media screen and (min-width: $mobile) {
    .marcas img {
        @include wyh($cincuenta, $cincuenta);
    }
}

@media screen and (min-width: $tablet) {
    .marcas img {
        @include wyh(($cincuenta+$treinta), ($cincuenta+$treinta));
    }
}

@media screen and (min-width: $desktop) {
    .marcas img {
        @include wyh($cien, $cien);
    }
}

/*sobre nosotros*/
.sobreNos {
    @include flex-column;

    .nosotros,
    .mapa {
        width: $cienporcien;
        margin: $cinco;

        h3 {
            font-size: medium;
        }

        .redes img {
            width: $cuarenta;
            margin: $tres;
        }
    }
}