/*PRODUCTO*/
@media screen and (min-width: $mobile) {
    .compra {
        @include flex-column;
        padding-top: ($cincuenta+$veinte);
        margin-bottom: $cien;

        .producto {
            width: $cienporcien;

            img {
                @include wyh($cienporcien, $cienporcien);
            }
        }
    }

    .infoProducto {
        @include flex-column;
        width: $cienporcien;
        margin-left: 3px;

        h3 {
            @include h3producto;
            font-size: medium;
        }

        img {
            width: $cincuenta;
        }

        b {
            text-align: left;
            margin-top: $diez;
        }

        p {
            @extend b;
            margin-top: $diez;
        }

        .talles {
            @include flex-wrap;
            justify-content: space-evenly;

            input {
                @include bordetalles;
                margin: $tres;
                width: 31%;
            }

            input:focus {
                color: $rojo;
            }
        }
    }

    .novedadesP {
        @include novedadesproducto;
        margin-top: $veinte;
        height: $cincuenta;
        margin-bottom: $cien;

        h5 {
            font-size: small;
            margin-top: $veinte;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }


        article {
            @include flex-spacearound;
            height: ($cien);
            margin-top: $veinte;
        }

        img {
            @include wyh($cienporcien, $cienporcien);
        }
    }

    .novedadesB {
        @include novedadesproducto;
        margin-top: $veinte;
        margin-bottom: ($cincuenta);

        h5 {
            font-size: large;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }

        article {
            @include flex-spacearound;
        }

        img {
            @include wyh($cincuenta+$veinte, $cincuenta+$veinte);
        }
    }
}

@media screen and (min-width: $tablet) {
    .infoProducto h3 {
        @include h3producto;
        font-size: larger;
    }

    .novedadesP {
        h5 {
            font-size: medium;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }
    }
    .novedadesB{
        img {
            @include wyh($cien, $cien);
        }
    }
}

@media screen and (min-width: $desktop) {
    .compra {
        display: flex;
        flex-direction: row;
        padding-top: ($cincuenta+$treinta);


        .producto {
            width: $cincuentaporcien;

            img {
                @include wyh($cienporcien, $cienporcien);

            }
        }

        .infoProducto {
            @include flex-column;
            width: $cincuentaporcien;
            padding-top: $cuarenta;

            h3 {
                font-size: larger;
                text-align: left;
                padding-bottom: $diez;
            }

            p {
                text-align: left;
            }

            img {
                width: $cincuenta;
            }

            .talles {
                @include flex-wrap;
                width: ($cien*3);
                justify-content: left;

                input {
                    @include bordetalles;
                }

                input:focus {
                    color: $rojo;
                }
            }

            .anadirCarro {
                display: flex;
                width: ($cien*3);
                justify-content: center;
            }

            .ptachada {
                text-decoration: line-through;
                color: red;
            }
        }
    }

    .novedadesP {
        @include novedadesproducto;
        margin-top: $veinte;
        margin-bottom: ($cien+$cincuenta);

        h5 {
            font-size: large;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }

    }

    .novedadesB {
        @include novedadesproducto;
        margin-top: $veinte;
        margin-bottom: ($cincuenta);

        h5 {
            font-size: large;
            background-color: $celeste;
            padding: $cinco;
            color: #fff;
        }

        article {
            @include flex-spacearound;

            a:hover {
                opacity: 0.5;
            }

            img {
                @include wyh($cien+$cincuenta, $cien+$cincuenta)
            }
        }
    }
}